<div>
	Pilih Ruangan yang akan dipinjam
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>No. </th>
            <th>Nama Ruangan</th>
			<th>Jenis Ruangan</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="facility in ctrl.facilities">
            <td><span ng-bind="facility.facilityId"></span></td>
            <td><span ng-bind="facility.facilityName"></span></td>
            <td><span ng-bind="facility.facilityType"></span></td>
        </tr>
    </tbody>
</table>

<div>
    <md-content>
        <h4>Standard date-picker</h4>
        <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
        <!-- <h4>Disabled date-picker</h4>
        <md-datepicker ng-model="myDate" md-placeholder="Enter date" disabled></md-datepicker>
        <h4>Date-picker with min date and max date</h4>
        <md-datepicker ng-model="myDate" md-placeholder="Enter date"
            md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
        <h4>Only weekends are selectable</h4>
        <md-datepicker ng-model="myDate" md-placeholder="Enter date"
            md-date-filter="onlyWeekendsPredicate"></md-datepicker>
        <h4>Only weekends within given range are selectable</h4>
        <md-datepicker ng-model="myDate" md-placeholder="Enter date"
            md-min-date="minDate" md-max-date="maxDate"
            md-date-filter="onlyWeekendsPredicate"></md-datepicker>
        <h4>With ngMessages</h4>
        <form name="myForm">
          <md-datepicker name="dateField" ng-model="myDate" md-placeholder="Enter date"
              required md-min-date="minDate" md-max-date="maxDate"
              md-date-filter="onlyWeekendsPredicate"></md-datepicker>
          <div class="validation-messages" ng-messages="myForm.dateField.$error">
            <div ng-message="valid">The entered value is not a date!</div>
            <div ng-message="required">This date is required!</div>
            <div ng-message="mindate">Date is too early!</div>
            <div ng-message="maxdate">Date is too late!</div>
            <div ng-message="filtered">Only weekends are allowed!</div>
          </div>
        </form> -->
    </md-content>
</div>

<div>
    <label>Tanggal Mulai </label>
    <input type="date">
</div>

<div>
    <label>Tanggal Selesai </label>
    <input type="date">
</div>

<div class="row">
    <button >Batal</button>
    <button >Ok</button>
</div>