	<div class="col-md-12">
		<br>
	</div>
	<div class="col-md-12" style="border: #000000 thin solid;">
		<a href="#/dashboard">Menu Utama</a>
	</div>
	<div class="col-md-12" style="border: #000000 thin solid;">
		<a href="#/reservationList">Peminjaman</a>
	</div>
	<div class="col-md-12" style="border: #000000 thin solid;">
		Jadwal Ruangan
	</div>
	<div class="col-md-12" style="border: #000000 thin solid;">
		Pesan
	</div>
	<div class="col-md-12" style="border: #000000 thin solid;">
		Profil
	</div>