<div>
	<div>
		<b>Form Pemindahan Peminjaman</b>
	</div>
	<br>
	<div class="row">
		<div class="col-md-4">
			Nama Peminjam
		</div>
		<div class="col-md-7">
			{{reservation.eventUserName}}
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
	Tanggal Mulai
		</div>
		<div class="col-md-7">
			{{reservation.reservationStartDate}}
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			Tanggal Selesai
		</div>
		<div class="col-md-7">
			{{reservation.reservationEndDate}}
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			Nama Kegiatan
		</div>
		<div class="col-md-7">
			{{reservation.eventName}}
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			Jenis Kegiatan
		</div>
		<div class="col-md-7">
			{{reservation.eventType}}
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			Skala Kegiatan
		</div>
		<div class="col-md-7">
			{{reservation.eventScale}}
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			Jumlah Peserta
		</div>
		<div class="col-md-7">
			{{reservation.eventTotalParticipant}}
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			Nama Ruangan
		</div>
		<div class="col-md-7">
			{{reservation.room.roomName}}
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			Jenis Ruangan
		</div>
		<div class="col-md-7">
			{{reservation.room.roomType}}
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			Status
		</div>
		<div class="col-md-7">
			{{reservation.room.roomType}}
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			Lampiran Surat Izin Kegiatan
		</div>
		<div class="col-md-7">
			<input type="file"></input>
		</div>
	</div>
	
	<div class="col-offset-3">
		<button>Batal</button>
		<button ng-click="goTo('/reservationChangeForm')">Ajukan Pemindahan Peminjaman</button>
	</div>
</div>