<h1>Pilih Ruangan yang akan dipinjam</h1>

		<table datatable="ng" class="table">
			<thead>
				<tr>
					<th>No. </th>
					<th>Nama Ruangan</th>
					<th>Jenis Ruangan</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="room in listOfRoom" ng-click="selectRoom(room)" ng-class="isSelected(room)">
					<td><span ng-bind="room.roomId"></span></td>
					<td><span ng-bind="room.roomName"></span></td>
					<td><span ng-bind="room.roomType"></span></td>
				</tr>
			</tbody>
		</table>

		<div class="row">
			<div class="col-md-2">
				<label>Tanggal Mulai </label>
			</div>
			<div class="col-md-4">
				<p class="input-group">
				  <input type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}" ng-model="selectedDate.startDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
				  <span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
				  </span>
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2">
				<label>Tanggal Selesai</label>
			</div>
			<div class="col-md-4">
				<p class="input-group">
				  <input type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}" ng-model="selectedDate.endDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
				  <span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
				  </span>
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-md-offset-9">
				<div class="col-md-2"><a href="#/reservationRequestList"><button type="button" class="btn btn-danger btn-md">Batal</button></a>
				</div>
				<div class="col-md-2s"><button type="button" class="btn btn-success btn-md" ng-click="validateData('/reservationForm')">Lanjut</button></a>
				</div>
			</div>
		</div>