<h1>Form Peminjaman</h1>

<form class="form-horizontal" role="form" ng-submit="openModal('sm',pengajuan)">
    <div class="form-group">
      <label class="control-label col-md-2" style="text-align:left" for="namaPeminjam">Nama Peminjam</label>
      <div class="col-md-4">
        <input type="text" class="form-control" ng-model="pengajuan.namaPeminjam" ng-required="true">               
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-2" style="text-align:left" for="tanggalMulai">Tanggal Mulai</label>
      <div class="col-md-4">
        {{reservation.reservationStartDate}}             
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-2" style="text-align:left" for="tanggalSelesai">Tanggal Selesai</label>
      <div class="col-md-4">
        {{reservation.reservationEndDate}}               
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-2" style="text-align:left" for="namaKegiatan">Nama Kegiatan</label>
      <div class="col-md-4">
        <input type="text" class="form-control" ng-model="pengajuan.namaKegiatan">               
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-2" style="text-align:left" for="jenisKegiatan">Jenis Kegiatan</label>
      <div class="col-md-4">
        <input type="text" class="form-control" ng-model="pengajuan.jenisKegiatan">               
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-2" style="text-align:left" for="skalaKegiatan">Skala Kegiatan</label>
      <div class="col-md-4">
        <input type="text" class="form-control" ng-model="pengajuan.skalaKegiatan">               
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-2" style="text-align:left" for="jumlahPeserta">Jumlah Peserta</label>
      <div class="col-md-4">
        <input type="text" class="form-control" ng-model="pengajuan.jumlahPeserta">               
      </div>
    </div> 

    <div class="form-group">
      <label class="control-label col-md-2" style="text-align:left" for="namaRuangan">Nama Ruangan</label>
      <div class="col-md-4">
        {{reservation.facility.facilityName}}               
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-2" style="text-align:left" for="jenisRuangan">Jenis Ruangan</label>
      <div class="col-md-4">
        {{reservation.facility.facilityType}}              
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-2" style="text-align:left" for="lampiranSuratIzinKegiatan">Lampiran Surat Izin Kegiatan</label>
      <div class="col-md-4">
        <input type="file"></input>              
      </div>
    </div>

    

    <div class="form-group">
      <div class="col-md-offset-4 col-md-3">
        <button type="reset" class="btn btn-default alert alert-danger">Batal</button>
        <button type="submit" class="btn btn-default alert alert-success">Ajukan Peminjaman</button>
      </div>
    </div>
</form>
